# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
wp-content/uploads/
wp-content/upgrade/
wp-content/wp-cache-config.php

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Composer
/vendor/

# Environment
.env
.env.local
